@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Simple CRUD application for managing products and categories in a database using the entity framework.</p>
</div>
